<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <main>
        <nav>
          <a href="/">Home</a>
           <form id="logout" action="/auth/logout" method="POST">
              <button type="submit">Logout</button>
           </form>
        
         
        </nav>
        <section class="lp">
          <div class="lp__item text">
            <h1>School <br>of Fish</h1>
            <p>In biology, any group of fish that stay together for social reasons are shoaling and if the group is swimming in the same direction in a coordinated manner, they are schooling. </p>
            <div class="arrow">
              <a href="#" class="arrow__item"><</a>
                <a href="#" class="arrow__item">></a>
                </div>
            </div>
      
      
            <div class="lp__item stripe">
              <div class="stripe__item"></div>
              <div class="stripe__item"></div>
              <div class="stripe__item"></div>
              <div class="stripe__item"></div>
            </div>
      
            </section>
      
      
          <div class="slide">01 &nbsp;/&nbsp; 18</div>  
          </main>
</body>
</html>